/* Лэйаут страниц */
.page {
  min-block-size: 100vh;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;

  &__content {
    flex: auto;
  }

  &__section {
    padding: 1em 1em 2em;
    display: grid;
    gap: 1em;
    background-color: var(--main-bg-color);

    &_bg-low {
      background-color: var(--main-low-bg-color);
    }
  }

  &__menu-section {
    padding: 1em;
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
    margin-block-start: -2.5em;
  }

  &__card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(15em, 100%), 1fr));
    gap: 0.75em;
  }

  &__title-block {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__title {
    font-family: var(--heading-font-family, "Raleway", sans-serif);
    font-variation-settings: 'wght' 700;
    font-size: var(--heading-font-xl);
  }
}
