/* Лэйаут страниц */
.page {
  min-block-size: 100vh;
  min-block-size: 100dvb;
  max-inline-size: 48em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  &__content {
    flex: auto;
  }

  &__section {
    padding: 1em 1em 5em;
    display: grid;
    gap: 1em;
    background-color: var(--bg-color);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;

    &_bg-low {
      background-color: var(--bg-low-color);
    }
  }

  &__card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
    gap: 0.5em;

    &_one-column {
      grid-template-columns: 1fr;
    }
  }

  &__card-deck-item {
    block-size: 100%;
  }

  &__title-block {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__title {
    padding-block: .5rem;
    font-family: var(--heading-font-family, 'Raleway', sans-serif);
    font-variation-settings: 'wght' 700;
    font-size: var(--heading-font-xl);
  }
}
