/* Блок иконка-кнопка */
.icon-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25em;
  inline-size: 2em;
  block-size: 2em;
  color: inherit;
  border-radius: var(--border-radius-md);
  transition: transform 0.35s;

  &:active {
    transform: scale(1.2);
  }

  &_theme_outline {
    color: var(--text-low-color);
    border-color: var(--icon-button-color);
  }

  &_theme_main {
    color: var(--white);
    background-color: var(--main-color);
    border-color: var(--main-color);
  }

  &_actived {
    color: var(--main-color);
    pointer-events: none;
  }
}
