.order {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  min-block-size: 100vh;
  min-block-size: 100dvb;
  background-color: var(--bg-low-color);
  translate: 100% 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition:
    visibility 0s 0.35s,
    translate 0.35s,
    opacity 0.35s;

  display: flex;
  flex-direction: column;
  gap: 2.5em;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
  }

  &__title-block {
    flex: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex: auto;
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: var(--text-font-md);
    color: var(--text-low-color);
  }

  &__subtitle {
    font-size: var(--text-font-sm);
    color: var(--text-low-color);
    text-align: center;
  }

  &__header-button {
    flex: none;
    color: var(--text-low-color);
  }

  &__card {
    margin-block-end: 8em;
    padding-block: 1em;
    display: grid;
    gap: 1em;
    background-color: var(--bg-color);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--box-shadow-md);
  }

  &__indent {
    padding-inline: 1em;
  }

  &__inner {
    display: grid;
    gap: 1em;
  }

  &__picture {
    margin-inline: auto;
  }

  &__list {
    display: grid;
    gap: 0.5em;
  }

  &__decoration-bottom {
    padding-block-end: 1em;
    border-block-end: 1px solid var(--grey-300);
  }

  &__decoration-top {
    padding-block-start: 1em;
    border-block-start: 1px solid var(--grey-300);
  }

  &__field {
    margin-block-start: 1.5em;
  }

  &_opened {
    translate: 0 0;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    user-select: auto;
    transition:
      visibility 0s,
      translate 0.35s,
      opacity 0.35s;
  }
}
