.card {
  block-size: 100%;
  position: relative;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-sm);
  padding: 0.5em;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5em;

  &__picture {
    position: relative;
  }

  &__image {
    inline-size: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-lg);
  }

  &__info-button {
    position: absolute;
    inset: auto auto -1px -1px;
    background-color: var(--bg-color);
    border-radius: 0 var(--border-radius-md) 0 0;
    border-color: var(--bg-color);
    color: var(--text-low-color);
  }

  &__main-info {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__title {
    font-family: var(--heading-font-family, 'Raleway', sans-serif);
    font-variation-settings: 'wght' 600;
    font-size: var(--heading-font-lg);
  }

  &__description {
    font-size: var(--text-font-sm);
  }

  &__note {
    margin-block-start: auto;
    align-self: flex-start;
    font-size: var(--text-font-sm);
    color: var(--text-low-color);

    &_content_time {
      margin-block-start: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  &__decor {
    background-color: var(--bg-low-color);
    border-radius: var(--border-radius-sm);
    padding-inline: 0.25rem;
  }

  &__time {
    display: inline-flex;
    align-items: center;
  }

  &__time-icon {
    flex: none;
    inline-size: 1rem;
    block-size: 1rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;

    &_with-count {
      justify-content: center;
    }
  }

  &__caption {
    font-size: 1.25em;
    font-variation-settings: 'wght' 700;
  }

  &__buttons {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 0.5em;
  }

  &__detail-modal {
    position: absolute;
    inset: 0;
    background-color: var(--bg-blur-color);
    border-radius: var(--border-radius-lg);
    backdrop-filter: blur(15px);
    padding: 2em 1em;
    display: flex;
    align-items: center;

    color: var(--text-low-color);
    @extend %hidden-block;
  }

  &__close-button {
    position: absolute;
    inset: 0.5em 0.5em auto auto;
    color: var(--icon-button-color);
  }

  &__detail-modal-main-info {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    max-block-size: 100%;
    overflow-y: auto;
  }

  &__count {
    text-align: center;
    inline-size: 3.125rem;

    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1.25em;
    font-variation-settings: 'wght' 700;
    font-family: inherit;
  }

  &_detail-opened {
    .card__detail-modal {
      @extend %visibility-block;
    }
  }

  &_orientation-gorizontal {
    grid-template-columns: 9.375em 1fr;
    grid-template-rows: 1fr auto;

    .card__picture {
      grid-row: span 2;
    }
    .card__image {
      block-size: 100%;
    }

    .card__note_content_time {
      align-self: center;
    }

    .card__controls_with-count {
      justify-content: space-between;
    }

    .card__buttons {
      inline-size: initial;
    }

    .card__count {
      inline-size: 2rem;
    }
  }
}
