.card {
  block-size: 100%;
  position: relative;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-sm);
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__picture {
    position: relative;
  }

  &__image {
    inline-size: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-lg);
  }

  &__info-button {
    position: absolute;
    inset: auto auto -1px -1px;
    background-color: var(--bg-color);
    border-radius: 0 var(--border-radius-md) 0 0;
    border-color: var(--bg-color);
    color: var(--text-low-color);
  }

  &__main-info {
    flex: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .card__note {
      margin-block-start: auto;
    }
  }

  &__title {
    font-family: var(--heading-font-family, 'Raleway', sans-serif);
    font-variation-settings: 'wght' 600;
    font-size: var(--heading-font-lg);
  }

  &__description {
    font-size: var(--text-font-sm);
  }

  &__note {
    align-self: flex-start;
    font-size: var(--text-font-sm);
    color: var(--text-low-color);

    &_content_time {
    }
  }

  &__decor {
    background-color: var(--bg-low-color);
    border-radius: var(--border-radius-sm);
    padding-inline: 0.25rem;
  }

  &__time {
    display: inline-flex;
    align-items: center;
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  &__caption {
    font-size: 1.25em;
    font-variation-settings: 'wght' 700;
  }

  &__buttons {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  &__button {
  }

  &__detail-modal {
    position: absolute;
    inset: 0;
    background-color: var(--bg-blur-color);
    border-radius: var(--border-radius-lg);
    backdrop-filter: blur(15px);
    padding: 0.5em 1em;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    color: var(--text-low-color);

    @extend %hidden-block;
  }

  &__close-button {
    position: absolute;
    inset: 0.5em 0.5em auto auto;
  }

  &__count {
    text-align: center;
    inline-size: 2.5rem;
  }

  &__price {
    margin-inline: auto;
  }

  &_detail-modal-opened {
    .card__detail-modal {
      @extend %visibility-block;
    }
  }
}
