.main-banner {
  color: var(--white);
  min-block-size: 15.625em;
  position: relative;

  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.7);
  }

  &__panel {
    padding: 1em;
    margin-block-end: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  &__title-block {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
  }

  &__logo {
    flex: none;
    inline-size: 2.5em;
    aspect-ratio: 1;
    background-color: var(--white);
    border-radius: var(--border-radius-md);
  }

  &__logo-image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    font-family: var(--heading-font-family, 'Raleway', sans-serif);
    font-size: var(--heading-font-xl);
    font-variation-settings: 'wght' 700;
  }
}
