.lang-panel {
  position: relative;
  inline-size: max-content;

  &__button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
    display: flex;
    align-items: center;
  }

  &__button-text {
    font-size: var(--text-font-md);
    font-variation-settings: 'wght' 600;
  }

  &__button-icon {
    color: inherit;
    block-size: 1.5em;
    inline-size: 1.5em;
  }

  &__container {
    position: absolute;
    inset: 100% 0 auto auto;
    inline-size: max-content;
    background-color: var(--bg-color);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-sm);
    padding: 0.25em;
    color: var(--text-color);

    @extend %hidden-block;
  }

  &__list {
    max-block-size: 9em;
    overflow: auto;

    @include scroll-bar(0.25em, transparent, var(--bg-low-color));
  }

  &__item {
    padding-inline: 0.5rem;
    margin-block-end: 0.25rem;
    font-size: var(--text-font-md);

    &_actived {
      background-color: var(--bg-low-color);
      border-radius: var(--border-radius-sm);
      color: var(--main-color);
    }
  }

  &__accent {
    font-variation-settings: 'wght' 600;
  }

  &_opened {
    .lang-panel__button-icon {
      transform: scale(1, -1);
    }

    .lang-panel__container {
      @extend %visibility-block;
    }
  }
}
